# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
__pycache__ 

# testing
/coverage

# Authentication
Front_React/src/authConf.json

# production
/build
Front_React/build
Front_React/node_modules

Back_Python/react_build
Back_Python/chroma-db

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
venv

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
my-music-gpt.iml
